HostDB does not properly cache negative responses

Currently, it appears that at the very least, the no answer, no error, implicit negative response from an authoritative DNS server is not cached by HostDB. These answers are also known as a `NODATA` response per RFC 2308, section 2.2, found here: https://datatracker.ietf.org/doc/html/rfc2308#section-2.2

At a minimum, HostDB should implement negative caching for this case, but other cases, such as `NXDOMAIN` should also be implemented if missing. Ideally the existing implementation would be analyzed against the negative caching RFC linked above, and any gaps would be rectified.

Without the ability to cache negative answers such as the `NODATA` response, two negative things occur:

1. HostDB will hammer its configured caching resolver with queries that cannot be satisfied
2. Response time of incoming requests may be affected depending on how ATS is configured; for example, when client address family matching is enabled via `proxy.config.hostdb.ip_resolve` and the upstream host lacks an `AAAA` record.

I'll take a look at this once the current HostDB changes land. It shouldn't be too much work to fix this in the new implementation.