s-maxage not respected with authorization headers

Testing for some issues I came across this problem, according to the rfc:
https://tools.ietf.org/html/rfc7234#section-3.2

3.2.  Storing Responses to Authenticated Requests

   A shared cache MUST NOT use a cached response to a request with an
   Authorization header field (Section 4.2 of [RFC7235]) to satisfy any
   subsequent request unless a cache directive that allows such
   responses to be stored is present in the response.

   In this specification, the following Cache-Control response
   directives (Section 5.2.2) have such an effect: must-revalidate,
   public, and s-maxage.

I tested here having s-maxage on a cached object, then sent requests with an auth header and it would always go upstream for the request as long as an auth header was attached. The only way to cache them was with the addition of `public` to the CC header

This was with 8.1.x

The below section of the cache-test will be green if this is fixed?

> An optimal HTTP shared cache reuses a response to a request that contained Authorization, if it has Cache-Control: s-maxage

https://cache-tests.fyi/#auth

( I think we had this cache-test on our ci before...I don't know where it is now )

> The below section of the cache-test will be green if this is fixed?
> 
> > An optimal HTTP shared cache reuses a response to a request that contained Authorization, if it has Cache-Control: s-maxage
> 
> https://cache-tests.fyi/#auth
> 
> ( I think we had this cache-test on our ci before...I don't know where it is now )

yea Ive added it to my list to go and fix cache-tests on the new ci. We had it working a while back but since we had to shuffle around its network configuration and hosting the cache-tests hosting container got lost. So its on my list to go fix when I get a chance